#### [Question1]

a) Create a string variable called my_str containing the following sentence: Python programming is fun and powerful! <br>
b) Find the length of my_str. <br>
c) Replace "fun" in my_str with "exciting." Store this back in my_str and print my_str <br>
d) Find the index of the word powerful in my_str <br>
e) Split the string into a list of words (google which function can help you do this). Store this in my_str_to_list and print it

In [30]:
# create my_str below

my_str = "Python programming is fun and Powerful!"

In [31]:
# find out the length of my_str. no need to store this anywhere
len(my_str)

39

In [32]:
# update my_str so it has the word exciting instead of fun. print my_str at the end
my_str = my_str.replace('fun','exciting')
print(my_str)

Python programming is exciting and Powerful!

In [33]:
# find the index of the word powerful in my_str
position = my_str.index("Powerful")
print(position)

35

In [12]:
# create my_str_to_list and store my_str split into a list of words in this. print my_str_to_list
my_str_to_list = my_str.split()
print(my_str_to_list)

['Python', 'programming', 'is', 'fun', 'and', 'Powerful!']

#### [Question2]
Given a variable called Celsius with the value 108.6, convert it to Fahrenheit. Google the formula for celcius to fahrenheit conversion. Print out Fahrenheit.

In [13]:
Celsius = 108.6

Fahrenheit = ((9/5) * Celsius) + 32  # write your conversion formula here


#print out Fahrenheit below
print(Fahrenheit)

227.48

#### [Question3]

A university wants to write a program that will help them decide the eligibility of each applicant. The conditions are:
- all admits must be 18 or older in age
- if their GPA is 3.0 or above, they are eligible. If their GPA is 2.8 or above, they are eligible based on a performance test. Otherwise they are not eligible.


Given the three lists names, ages and GPA:

Write a for loop that will print out the following three things in each iteration:

- Student (insert name) has age (insert age) and GPA (insert GPA)
- Eligible for admission/ Eligible for admission based on performance test/ Not eligible for admission
- New line

example:

Student Hassan Ali has age 19 and GPA 3.0 <br>
Eligible for admission

In [37]:
names = ['Hassan Ali', 'Rabbiya Sarmad', 'Zara Haq', 'Hussain Rafay', 'Dua Hamid']
ages = [19, 17, 15, 21, 18, 20]
GPA = [3.0, 3.9, 2.5, 3.1, 2.9]


# Write your for loop below:

for pos, name in enumerate(names):
  print("Student:", name, "has age:", ages[pos], "and GPA:", GPA [pos])
  if(GPA[pos] >= 3.0):
    print("Eligible")
  elif (GPA[pos] > 2.8):
    print("Eligible for admission based on performance test")
  else:
    print("Not eligible for admission")

Student: Hassan Ali has age: 19 and GPA: 3.0
Eligible
Student: Rabbiya Sarmad has age: 17 and GPA: 3.9
Eligible
Student: Zara Haq has age: 15 and GPA: 2.5
Not eligible for admission
Student: Hussain Rafay has age: 21 and GPA: 3.1
Eligible
Student: Dua Hamid has age: 18 and GPA: 2.9
Eligible for admission based on performance test

#### [Question 4]

Given the following list called numbers:

a) Convert it into a tuple and print it. <br>
b) Calculate the sum of this tuple. Store it in sum_numbers. print sum_numbers <br>
c) Using slicing, fetch every odd indexed element from numbers <br>
d) Create new **lists** called evens and odds. Using ONE for loop, add every even integer from the numbers tuple to evens and every odd number to odds. in the end, print numbers, evens and odds. <br>
e) Would it be possible to do this if evens and odds were tuples instead of lists?

In [26]:
numbers =  [12, 34, 45, 67, 89, 100, 23, 56]

#convert numbers into a tuple below and print numbers
numbers_tuple = tuple(numbers)
print(numbers_tuple)

(12, 34, 45, 67, 89, 100, 23, 56)
426
[12, 45, 89, 23]
The even numbers are:  [12, 34, 100, 56]
The odd numbers are:  [45, 67, 89, 23]

In [ ]:
# create sum_numbers and store the sum of numbers in it. print sum_numbers
sum_numbers = sum(numbers_tuple)
print(sum_numbers)

In [40]:
# fetch every odd indexed element from numbers below. No need to store this anywhere, just show output
print(numbers [1::2])

[34, 67, 100, 56]

In [ ]:
# create empty lists called evens and odds below:
evens = []
odds = []

# write a single for loop to add integers from the numbers tuple to evens and odds lists below:
for number in numbers:
  if(number % 2 == 0):
    evens.append(number)
  else:
    odds.append(number)

# print out numbers, evens and odd below
print("The even numbers are: ", evens)
print("The odd numbers are: ", odds)

In [ ]:
# comment if the above would be possible to do if evens and odds were tuples instead of lists?

# Since tuples are immutable so we cann't add items to them after they are initialized.

#### [Question 5]

a) Create a list called fruits containing the following fruits: apple, banana, orange, grape, kiwi, mango <br>
b) Using a for loop, update every single item in fruits so that the first letter is capitalized. Print fruits at the end

In [29]:
# create fruits below

fruits = ["apple", "banana", "orange", "grape", "kiwi", "mango"]

# write a for loop to capitalize every element in fruits below
for pos,fruit in enumerate(fruits):
  fruits[pos]= fruit.capitalize()
#print updated fruits below
print(fruits)

['Apple', 'Banana', 'Orange', 'Grape', 'Kiwi', 'Mango']

#### [Question 6]

a) Create a dictionary named "capitals" with three key-value pairs: "USA" - "Washington DC", "France" - "Paris",  and "Japan" - "Tokyo". Print the dictionary. <br>
b) Add a new country and its capital to the "capitals" dictionary. The country is "Germany" and the capital is "Berlin". Print the updated dictionary. <br>
c) Check if "France" exists in the "capitals" dictionary. If it does, print "France is in the dictionary" otherwise, print "France is not in the dictionary" (hint: you will need to use the keyword in)

In [34]:
# create the dictionary capitals below with its key:value pairs and print it
capitals = {"USA": "Washington DC", "France": "Paris", "Japan": "Tokyo"}
print(capitals)

{'USA': 'Washington DC', 'France': 'Paris', 'Japan': 'Tokyo'}

In [35]:
# add germany to capitals below and print updated dictionary
capitals["Germany"] = "Berlin"
print(capitals)

{'USA': 'Washington DC', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

In [36]:
# check if france is in the dictionary and print "France is in the dictionary" or "France is not in the dictionary"
if "France" in capitals:
    print("France is in the dictionary")
else:
    print("France is not in the dictionary")

France is in the dictionary